<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

<style>
    p {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-size: 14px;
        line-height: 17px;
        color: #92ACB5;
    }
</style>
<body>
<p>
    This following sets out the terms and conditions on which you may use the content on business-standard.com website, business-standard.com's mobile browser site, Business Standard instore Applications and other digital publishing services (www.smartinvestor.in, www.bshindi.com and www.bsmotoring,com) owned by Business Standard Private Limited, all the services herein will be referred to as Business Standard Content Services) 
</p>
<p>Registration Access and Use We welcome users to register on our digital platforms. We offer the below mentioned registration services which may be subject to change in the future. All changes will be appended in the terms and conditions page and communicated to existing users by email.
</p>
</body>
</html>

